
@media only screen and (min-width: 1400px) {

    .detail_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }
    .cs-content-data{
        margin: 0% 0 2% 0;
    }

    .empty-association-data{
        margin: 25% 0 7% 0;
    }

    #local_toRent{
        padding: 7% 0;
    }

    .detail_article_text {
    width: 70%;
    }

    .detail_section article .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .detail_section article .logo li {
        padding: 2%;

    }

    .detail_section article .detail_contact {
        padding: 1% 0 3% 0;
    }

    .detail_section article .detail_contact li {
        font-family: 'Roboto Slab', serif;
        padding-bottom: 1%;
        color: #7C858A
    }

    .detail_section article ul li {
        list-style: none;

    }

    .detail_section article ul li img {

        width: 40%;

    }


    .detail_section article p {
        text-align: justify;
        font-size: 100%;
        font-family: 'Roboto Slab', serif;
        width: 80%;
        color: #7C858A;
    }
    .detail_img_article{
        width: 30%;
    }


    .size_img{
        border-radius: 20px;
        width: 100%;
    }




    .detail_article_text div {
        /*padding-top: 2%;*/
    }

    #card_location{

    }

    .detail_contact li a{
        text-decoration: none;
        color: #658DC6;
    }
    h5{
        color: #658DC6;
        font-size: 1.6rem;
        margin:0 ;
    }

    #main_location{

        margin: 0 auto;
        width: 90%;
        padding: 0;
    }
    .location_card{
        width: 95%;
        padding: 2%;
       border: 3px solid black;
        border-radius: 10px;
        margin-bottom: 1%;
    }

   .location_card img{
    width: 50%;
    }



    #iframe_rent{
        text-align: center;
    }

    .list-couture{
        list-style: square;
        color: #7C858A;
        font-size: 1.2rem;
    }


}

@media only screen and (max-width: 1399px) {

    .detail_section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .empty-association-data{
        margin: 25% 0 7% 0;
    }

    #local_toRent{
        padding: 7% 0;
    }



    .detail_article_text {
        width: 70%;

    }
    .detail_img_article{
        width: 30%;
    }




    .detail_section article .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .detail_section article .logo li {
        padding: 2%;

    }

    .detail_section article .detail_contact {
        padding: 1% 0 3% 0;
    }

    .detail_section article .detail_contact li {
        font-family: 'Roboto Slab', serif;
        padding-bottom: 1%;
        color: #7C858A
    }

    .detail_section article ul li {
        list-style: none;

    }

    .detail_section article ul li img {
        width: 40%;

    }


    .detail_section article p {
        text-align: justify;
        font-size: 90%;
        font-family: 'Roboto Slab', serif;
        width: 70%;
        color: #7C858A;
    }


    .size_img{
        width: 100%;
        border-radius: 20px;
    }



    .button_site {
        width: 50%;
        height: 8%;
        margin: 10% 0 0 70%;
        background-color: #F4B894;

    }

    .button_site a {
        padding-top: 1%;

        text-decoration: none;
        color: white;
    }

    .detail_article_text div {
      /*  padding-top: 2%; */
    }

    .detail_contact li a{
        text-decoration: none;
        color: #658DC6;
    }

    h5{
        color: #658DC6;
        font-size: 1.6rem;
        margin-top:0 ;
    }
    #main_location{

        margin: 0 auto;
        width: 90%;
        padding: 0;
    }
    .location_card{
        width: 95%;
        padding: 2%;
        border: 3px solid black;
        border-radius: 10px;
        margin-bottom: 1%;
    }

    .location_card img{
        width: 50%;
    }



    #iframe_rent{
        text-align: center;
    }

    .list-couture{
        color: #7C858A;
        font-size: 1.2rem;
    }

}


@media only screen and (max-width: 1080px) {


    .detail_section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;



    }

    .empty-association-data{
        margin: 25% 0 7% 0;
    }

    .detail_article_text {
        width: 100%;

    }
    .detail_img_article{
        width: 50%;
        height: 20%;
    }


    .detail_section article .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .detail_section article .logo li {
        padding: 2%;

    }

    .detail_section article .detail_contact {
        padding: 1% 0 3% 5%;
    }

    .detail_section article .detail_contact li {
        font-family: 'Roboto Slab', serif;
        padding-bottom: 1%;
        color: #7C858A
    }

    .detail_section article ul li {
        list-style: none;

    }

    .detail_section article ul li img {
        width: 40%;

    }


    .detail_section article p {
        text-align: justify;
        font-size: 100%;
        font-family: 'Roboto Slab', serif;
        width: 90%;
        color: #7C858A;
        margin: 0 auto;
    }

    #detail-location{
        text-align: center;
        margin: 0 auto;
    }


    .size_img{
        width: 100%;
        margin: 0 50% 10% 50%;
        border-radius: 20px;
    }



    .button_site {
        width: 50%;
        height: 8%;
        margin: 10% 0 0 70%;
        background-color: #F4B894;

    }

    .button_site a {
        padding-top: 1%;

        text-decoration: none;
        color: white;
    }

    .detail_article_text div {
       /* padding-top: 2%; */
    }

    .detail_contact li a{
        text-decoration: none;
        color: #658DC6;
    }

    h5{
        color: #658DC6;
        font-size: 1.6rem;
        margin-top:0 ;
    }
    #main_location{

        margin: 0 auto;
        width: 90%;
        padding: 0;
    }
    .location_card{
        width: 95%;
        padding: 2%;
        border: 3px solid black;
        border-radius: 10px;
        margin-bottom: 1%;
    }

    .location_card img{
        width: 50%;
    }



    #iframe_rent{
        text-align: center;
    }

    .list-couture{
        color: #7C858A;
        font-size: 1.2rem;
    }


}


@media only screen and (max-width: 767px) {

    .detail_section {
        display: flex;
        flex-direction: column-reverse;


    }
    .empty-association-data{
        margin: 25% 0 7% 0;
    }

    .detail_article_text {
        width: 100%;

    }
    .detail_img_article{
        width: 100%;
    }




    .detail_section article .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .detail_section article .logo li {
        padding: 2%;

    }

    .detail_section article .detail_contact {
        padding: 1% 0 3% 0;
    }

    .detail_section article .detail_contact li {
        font-family: 'Roboto Slab', serif;
        padding-bottom: 1%;
        color: #7C858A
    }

    .detail_section article ul li {
        list-style: none;

    }

    .detail_section article ul li img {
        width: 40%;

    }


    .detail_section article p {
        text-align: justify;
        font-size: 90%;
        font-family: 'Roboto Slab', serif;
        width: 100%;
        color: #7C858A;
    }


    .size_img{
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
    }



    .button_site {
        width: 50%;
        height: 8%;
        margin: 10% 0 0 70%;
        background-color: #F4B894;

    }

    .button_site a {
        padding-top: 1%;

        text-decoration: none;
        color: white;
    }

    .detail_article_text div {
        /*padding-top: 2%;*/
    }
    .detail_contact li a{
        text-decoration: none;
        color: #658DC6;
    }

    h5{
        color: #658DC6;
        font-size: 1.6rem;
        margin-top:0 ;
    }
    #main_location{

        margin: 0 auto;
        width: 90%;
        padding: 0;
    }
    .location_card{
        width: 95%;
        padding: 2%;
        border: 3px solid black;
        border-radius: 10px;
        margin-bottom: 1%;
    }

    .location_card img{
        width: 50%;
    }



    #iframe_rent{
        text-align: center;
    }

    .list-couture{
        color: #7C858A;
        font-size: 1.2rem;
    }




}
