@media only screen and (min-width: 1081px) {
body{
    box-sizing: border-box;
    margin: 0 auto;
}

main{
    width: 100%;
}
nav{
    margin: 0 auto;
    width: 80%;
    background-color:white;


}


h1{
   text-align: center;
    padding: 2% 0;
    font-size: 200%;
    color: #F4B894;


    font-family: 'Merriweather', serif;
}


.mainNav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 1;

}






h2{



    text-align: center;
    color: #658DC6;

}

.mainNav li{
    width: 20%;
    list-style: none;
    padding: 0 1%;
    font-family: 'Courier Prime', monospace;


}

.mainNav li a{
    text-decoration: none;
}


.mainNav li :hover{
    color: #F4B894;
}
.services_nav{
    padding: 1% 2%;

    height: auto;
    background-color: #0E487B;
    position: absolute;
    z-index: 0;
    display: none;
}

.services_nav li{
    width: 100%;
    padding: 2% 0;
}

.services_nav li a{
    width: 100%;
    text-decoration: none;
    color: white;
}


#health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
    cursor: pointer;


}



#health_hover:hover  #health_nav{
    display: block;
}


#wellness_hover:hover #wellness_nav{
    display: block;
}

#habitation_hover:hover  #habitat_nav{
    display: block;
}

#association_hover:hover  #association_nav{
    display: block;
}

    #mode_hover:hover  #mode_nav{
        display: block;
    }


header{
    height: 100%;
    background-color: #0F4C81;
    z-index: -1;
}

h3{
    margin: 0 42%;
    padding-top: 2%;
    font-size: 400%;
    color: #F4B894;
}

section{
    padding: 2% 0;
    margin: 0 auto;
    width: 70%;
}

section h4{
    margin-top: 2%;
    font-size: 200%;
    border-bottom: 25px #0E487B solid;
    border-radius: 30px;
    width: 80%;
    padding-bottom: 4%;
    color: #658DC6;
    font-family: 'Noto Serif', serif;
}


    #bgc_services  h4{
        margin: 0 auto;
        font-size: 200%;
        border-bottom: 25px #0E487B solid;
        border-radius: 30px;
        width: 70%;
        padding-bottom: 4%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }
article p{
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    width: 60%;
    color: #7C858A;


}


#bgc_services{
    padding: 5% 0;
    width: 100%;
    background-color: rgba(101, 141, 198, 0.1);
}


#toLocation{
    width: 10%;
     margin-left: 80%;
 }
    #our_services_section{


        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }


    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }


.services_card{

    width: 18%;

}

.modify-services{
   padding:0 5%;

}

.modify-services, li a{
    list-style: none;
    text-decoration: none;
    color: #658DC6;
}

    .modify-services, li a:hover{


        color: #F4B894;
    }

.services_article{


    background-color: white;
    border-radius: 20px;


    padding: 3% 3%;
}

.services_article ul{
    height: 8rem;
}

.services_article img{
    text-align: center;
    width:100%;
    border-radius: 20px;
    margin: 0 auto;
}

.services_article h5{
    color: #658DC6;
    font-family: 'Noto Serif', serif;
    font-size: 100%;
}


.button_action{
    width: 15%;
    height: auto;
    border: 2px solid #F4B894;
    background-color: #F4B894;
    margin-left: 90%;

}

.button_action:hover{
    cursor: pointer;
}

.button_action p{
    padding: 1% 1%;
    text-align: center;
    margin: 0 auto;
    color: white;

}





.modify li{
    list-style: none;
}

.modify li a{
   text-decoration: none;
    color: #658DC6;
}




footer{
    position: relative;
    height: 4rem;
    background-color: #0F4C81;
}

footer h6{
    font-size: 100%;
    color: #F4B894;
    margin: 0 0 0 45%;
    padding: 1% 0;
    width: 50%;

}
}




@media only screen and (max-width: 1080px) {


    body{
        box-sizing: border-box;
        margin: 0 auto;
    }

    main{
        width: 100%;
    }
    nav{

        width: 100%;
        background-color:white;


    }

    h1{
        margin: 0 auto;
        text-align: center;
        padding: 3%;
        font-size: 170%;
        color: #F4B894;
        width: 40%;
        font-family: 'Merriweather', serif;
    }




    .mainNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        width: 70%;
        z-index: 1;

    }




    h2{

        text-align: left;
        color: #658DC6;

    }


    .mainNav li{
        list-style: none;
        padding: 0 2%;
        font-family: 'Courier Prime', monospace;


    }

   /* .mainNav li:nth-child(4){


        padding-left: 15%;



    }*/

    .mainNav li a{
        text-decoration: none;
    }


    .mainNav li :hover{
        color: #F4B894;
    }

    ul.mainNav{
        margin: 0 auto;
        padding: 0;
    }
    .services_nav{
        padding: 1% 2%;
        width: auto;
        height: auto;
        background-color: #0E487B;
        position: absolute;
        z-index: 0;
        display: none;
    }

    .services_nav li{
        padding: 2% 0;
    }

    .services_nav li a{
        width: 100%;
        text-decoration: none;
        color: white;
    }

    #health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
        cursor: pointer;


    }



    #health_hover:hover  #health_nav{
        display: block;
    }


    #wellness_hover:hover #wellness_nav{
        display: block;
    }

    #habitation_hover:hover  #habitat_nav{
        display: block;
    }

    #association_hover:hover  #association_nav{
        display: block;
    }

    #mode_hover:hover  #mode_nav{
        display: block;
    }

    header{
        height: 100%;
        background-color: #0F4C81;
        z-index: -1;
    }

    header ul{
        margin: 0 auto;
        padding: 0;
    }

    h3{
        margin: 0 38%;
        padding-top: 2%;
        font-size: 400%;
        color: #F4B894;
    }

    section{
        padding: 3% 0;
        margin: 0 auto;
        width: 60%;
    }

    section h4{
        font-size: 150%;
        border-bottom: 25px #0E487B solid;
        border-radius: 30px;
        width: 80%;
        padding-bottom: 4%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }


    #bgc_services  h4{
        margin: 0 auto;
        font-size: 200%;
        border-bottom: 25px #0E487B solid;
        border-radius: 30px;
        width: 70%;
        padding-bottom: 4%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }

    article p{
        text-align: justify;
        font-family: 'Roboto Slab', serif;
        width: 80%;
        color: #7C858A;

    }

    #bgc_services{
        width: 100%;
        background-color: rgba(101, 141, 198, 0.1);
    }

    #toLocation{
        width: 10%;
        margin-left: 80%;
    }

    .services_card{

        margin: 2% 1%;
        width: 30%;

    }

    .modify-services{
        padding:0 5%;

    }

    .modify-services, li a{
        list-style: none;
        text-decoration: none;
        color: #658DC6;
    }

    .services_article{


        background-color: white;
        border-radius: 20px;


        padding: 5% 5%;
    }

    .services_article ul{
        height: 8rem;
    }

    .services_article img{
        text-align: center;
        width:100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services_article h5{
        color: #658DC6;
        font-family: 'Noto Serif', serif;
        font-size: 100%;

    }

    #our_services_section .button_action{

        margin-top:3% ;

    }

    .button_action{
        width: auto;
        height: auto;
        border: 2px solid #F4B894;
        background-color: #F4B894;
        margin-left:75% ;
    }

    .button_action:hover{
        cursor: pointer;
    }

    .button_action p{
        padding: 1%;
        width: 100%;
        color: white;

    }

    .modify li{
        list-style: none;
    }

    .modify li a{
        text-decoration: none;
        color: #658DC6;
    }

    #our_services_section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }



    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }


    footer{
        position: relative;
        height: 4rem;
        background-color: #0F4C81;
    }

    footer h6{
        font-size: 100%;
        color: #F4B894;
        margin: 0 0 0 38%;
        padding: 2% 0;
        width: 50%;

    }


}


@media only screen and (max-width: 767px) {


    body{
        box-sizing: border-box;
        margin: 0 auto;
    }

    main{
        width: 100%;
    }
    nav{
        margin: 0 auto;
        width: 100%;
        background-color:white;


    }

    h1{
        margin: 0 auto;
        text-align: center;
        padding:2%;
        font-size: 120%;
        color: #F4B894;
        width: 40%;
        font-family: 'Merriweather', serif;
    }



    .mainNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        width: 70%;
        z-index: 1;

    }




    h2{
        font-size: 100%;
        text-align: left;
        color: #658DC6;

    }


    .mainNav li{
        list-style: none;
        padding: 0 2%;
        font-family: 'Courier Prime', monospace;


    }

    .mainNav li:nth-child(4){






    }

    ul.mainNav{
        margin: 0 auto;
        padding: 0;

    }

    .mainNav li a{
        text-decoration: none;
    }


    .mainNav li :hover{
        color: #F4B894;
    }
    .services_nav{
        padding: 1% 2%;
        width: auto;
        height: auto;
        background-color: #0E487B;
        position: absolute;
        z-index: 0;
        display: none;
    }

    .services_nav li{
        padding: 2% 0;
    }

    .services_nav li a{
        width: 100%;
        text-decoration: none;
        color: white;
    }

    #health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
        cursor: pointer;


    }



    #health_hover:hover  #health_nav{
        display: block;
    }


    #wellness_hover:hover #wellness_nav{
        display: block;
    }

    #habitation_hover:hover  #habitat_nav{
        display: block;
    }

    #association_hover:hover  #association_nav{
        display: block;
    }

    #mode_hover:hover  #mode_nav{
        display: block;
    }
    header{
        height: 100%;
        background-color: #0F4C81;
        z-index: -1;
    }

    h3{
        margin: 0 38%;
        padding-top: 2%;
        font-size: 400%;
        color: #F4B894;
    }

    section{
        padding: 3% 0;
        margin: 0 auto;
        width: 80%;
    }

    section h4{
        font-size: 100%;
        border-bottom: 25px #0E487B solid;
        border-radius: 30px;
        width: 80%;
        padding-bottom: 4%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }

    article p{
        text-align: justify;
        font-family: 'Roboto Slab', serif;
        width: 80%;
        color: #7C858A;

    }

    #bgc_services{
        width: 100%;
        background-color: rgba(101, 141, 198, 0.1);
    }

    .services_card{
        margin-top: 4%;

        width: 40%;
        height: 25%;
    }


    .services_article{


        background-color: white;
        border-radius: 20px;


        padding: 5% 5%;
    }

    .services_article ul{
        height: 8rem;
    }

    .services_article img{
        text-align: center;
        width:100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services_article h5{
        color: #658DC6;
        font-family: 'Noto Serif', serif;
        font-size: 115%;

    }

    #our_services_section .button_action{

        margin-top:3% ;

    }

    .button_action{
        width: auto;
        height: auto;
        border: 2px solid #F4B894;
        background-color: #F4B894;
        margin-left:60% ;
    }

    .button_action:hover{
        cursor: pointer;
    }

    .button_action p{
        padding: 1%;
        width: 100%;
        color: white;

    }

    .modify li{
        list-style: none;
    }

    .modify li a{
        text-decoration: none;
        color: #658DC6;
    }

    #our_services_section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }



    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }


    footer{
        position: relative;
        height: 4rem;
        background-color: #0F4C81;
    }

    footer h6{
        font-size: 100%;
        color: #F4B894;
        margin: 0 0 0 36%;
        padding: 3% 0;
        width: 50%;

    }


}


@media only screen and (max-width: 430px) {


    body{
        box-sizing: border-box;
        margin: 0 auto;
    }

    main{
        width: 100%;
    }
    nav{
        margin: 0 auto;
        width: 80%;
        background-color:white;

    }


    h1{
        margin: 0 auto;
        text-align: center;
        padding: 2%;
        font-size: 100%;
        color: #F4B894;
        width: 50%;
        font-family: 'Merriweather', serif;
    }

    ul.mainNav{

        margin: 0  0;
        padding: 0;

    }


    .mainNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        z-index: 1;

    }



    h2{
        font-size: 100%;

        color: #658DC6;

    }


    .mainNav li{

        list-style: none;
        padding: 0 5%;
        font-family: 'Courier Prime', monospace;


    }



    .mainNav li a{
        text-decoration: none;

    }


    .mainNav li :hover{
        color: #F4B894;
    }


    .services_nav{
        padding: 1% 2%;
        width: auto;
        height: auto;
        background-color: #0E487B;
        position: absolute;
        z-index: 0;
        display: none;
    }

    .services_nav li{
        padding: 2% 0;
    }

    .services_nav li a{
        font-size: 12px;
        width: 100%;
        text-decoration: none;
        color: white;
    }

    #health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
        cursor: pointer;


    }



    #health_hover:hover  #health_nav{
        display: block;
    }


    #wellness_hover:hover #wellness_nav{
        display: block;
    }

    #habitation_hover:hover  #habitat_nav{
        display: block;
    }

    #association_hover:hover  #association_nav{
        display: block;
    }

    #mode_hover:hover  #mode_nav{
        display: block;
    }
    header{
        width: 100%;
        height: 100%;
        background-color: #0F4C81;
        z-index: -1;
    }

    h3{
        margin: 0 38%;
        padding-top: 2%;
        font-size: 100%;
        color: #F4B894;
    }

    section{
        padding: 3% 0;
        margin: 0 auto;
        width: 80%;
    }

    section h4{
        font-size: 100%;
        border-bottom: 25px #0E487B solid;
        border-radius: 30px;
        width: 100%;
        padding-bottom: 4%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }

    #bgc_services h4{
       font-size: 100%;
    }

    article p{


        font-family: 'Roboto Slab', serif;
        width: 100%;
        color: #7C858A;

    }

    #bgc_services{
        width: 100%;
        background-color: rgba(101, 141, 198, 0.1);
    }

    .services_card{
        margin-top: 4%;

        width: 100%;
        height: 25%;
    }


    .services_article{


        background-color: white;
        border-radius: 20px;


        padding: 5% 5%;
    }

    .services_article ul{
        height: 8rem;
    }

    .services_article img{
        text-align: center;
        width:100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services_article h5{
        color: #658DC6;
        font-family: 'Noto Serif', serif;
        font-size: 100%;

    }

    #our_services_section{
        display: flex;
        flex-direction: column;
        width: 80%;
        overflow: hidden;
    }

    #our_services_section .button_action{

        margin-top:3% ;

    }

    .button_action{
        width: auto;
        height: auto;
        border: 2px solid #F4B894;
        background-color: #F4B894;
        margin-left:50% ;
    }

    .button_action:hover{
        cursor: pointer;
    }

    .button_action p{
        padding: 1%;
        width: 100%;
        color: white;

    }

    .modify li{
        list-style: none;
    }

    .modify li a{
        text-decoration: none;
        color: #658DC6;
    }

    #our_services_section{


        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }




    footer{

        height: 4rem;
        background-color: #0F4C81;
    }

    footer h6{
        font-size: 100%;
        color: #F4B894;
        margin: 0 0 0 30%;
        padding: 5% 0;
        width: 50%;

    }


}


