@media only screen and (min-width: 1400px) {
body{
    box-sizing: border-box;
    margin: 0 auto;
}

main{
    width: 100%;
}
nav{
    margin: 0 auto;
    width: 80%;
    background-color:white;


}

#serv_main{
    width: 80%;
    margin: 0 auto;
}

.padding-ul{
    padding-left: 0;
}


h1{
   text-align: center;
    padding: 2% 0;
    font-size: 200%;
    color: #F4B894;
    text-transform: uppercase;


    font-family: 'Merriweather', serif;
}


.mainNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    z-index: 1;

}






h2{


    font-size: 120%;
    text-align: center;
    color: #658DC6;
    text-transform: uppercase;

}
    #burger_svg{
        display: none;
    }


.mainNav li{
    width: 25%;
    list-style: none;
    padding: 0 1%;
    font-family: 'Courier Prime', monospace;


}


.mainNav li a{
    text-decoration: none;
}


.mainNav li :hover{
    color: #F4B894;
}
.services_nav{
    padding: 1% 2%;

    height: auto;
    background-color: #658DC6;
    position: absolute;
    z-index: 2;
    display: none;
    border-radius: 20px;
}

.services_nav li{
    width: 100%;
    padding: 2% 0;
}

.services_nav li a{
    width: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


#health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
    cursor: pointer;


}



#health_hover:hover  #health_nav{
    display: block;
}


#wellness_hover:hover #wellness_nav{
    display: block;
}

#habitation_hover:hover  #habitat_nav{
    display: block;
}

#association_hover:hover  #association_nav{
    display: block;
}

    #mode_hover:hover  #mode_nav{
        display: block;
    }


    #introduction_section article{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #introduction_section p{
        width: 60%;
    }

    #introduction_section .button_action p {
        width: 100%;
    }

    #img_acceuil{
        width: 30%;
    }
    #introduction_section article #img_acceuil img{
        width: 100%;
        border-radius: 10px;

    }

    #toService{
        margin:2% 0;
    }
header{
    height: 100%;
    background-color: #EFF3F9;
    z-index: -1;
}

h3{
    margin: 0 42%;
    padding-top: 2%;
    font-size: 400%;
    color: #F4B894;
}




section{
    padding: 2% 0;
    margin: 0 auto;
    width: 80%;
}

section h4{
    margin-top: 2%;
    font-size: 180%;
    /*border-bottom: 25px #0E487B solid;*/
    border-radius: 30px;
    width: 100%;
    padding-bottom: 1%;
    color: #658DC6;
    font-family: 'Noto Serif', serif;
}


    #bgc_services  h4{
        margin: 0 auto;
        font-size: 200%;
        /*border-bottom: 25px #0E487B solid;*/
        border-radius: 30px;
        width: 80%;
        padding-bottom: 1%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }
article p{
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    color: #7C858A;
    line-height: 35px;
    font-size: 120%;


}


#bgc_services{
    padding: 5% 0;
    width: 100%;

    background-color: rgba(101, 141, 198, 0.1);
}


#toLocation{
    padding: 0 1%;


 }
    #our_services_section{


        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;


    }


    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }


.services_card{


    width: 90%;

}

.services_card, a{
    text-decoration: none;
}

.modify-services{

   padding:0 5%;

}

.modify-services, li a{
    list-style: none;
    text-decoration: none;
    color: #658DC6;

}

    .modify-services, li a:hover{


        color: #F4B894;
    }

.services_article{

    width: 90%;
    background-color: white;
    border-radius: 20px;


    padding: 3% 3%;
}
    .services_article a{
        text-transform: uppercase;
        text-decoration: none;
    }

.services_article ul{
    height: 8rem;
}

.services_article img{
    text-align: center;
    width:100%;
    border-radius: 20px;
    margin: 0 auto;
}

.services_article h5{
    color: #658DC6;
    font-family: 'Noto Serif', serif;
    font-size: 100%;
    text-transform: uppercase;
}

    #rentID p{
        width: 100%;
        text-align: left;
    }

    #rentID img{


    }


.button_action{
    width: 15%;
    height: auto;
    border: 2px solid #F4B894;
    background-color: #F4B894;
    margin-left: 85%;

}

    .button_action_card{
        margin-top: 10%;
       padding: 0.5% 0.5%;
        border-radius: 20px;

        border: 2px solid #F4B894;
        background-color: #F4B894;


    }

    .button_action_card p{
        padding-left: 2%;
        color: white;
        text-align: center;
        margin: 0 auto;
        font-size: 90%;
    }

.button_action:hover{
    cursor: pointer;
}

    .width-button-article{
        margin: 0 auto;
        width: 100%;
    }

.button_action {
    font-family: 'Noto Serif', serif;
    text-align: center;
    margin: 0 auto;
    color: white;
    border-radius: 20px;
    font-size: 120%;

}





.modify li{
    list-style: none;
}

.modify li a{
   text-decoration: none;
    color: #658DC6;
}


#location_view{
    display: flex;
    flex-direction: row;

}

#skyVue, img{
    width:90%;
    border-radius: 20px;

}
iframe{
    height: 100%;
}

footer{
    margin-top: 16%;
    position: relative;
    height: 4rem;
    background-color: rgba(101, 141, 198, 0.1);

}

footer h6{
    font-size: 100%;
    color: #F4B894;
    margin: 0 auto;
    text-align: center;
    padding: 1% 0;
    width: 50%;

}
}

@media only screen and (max-width: 1399px) {
    body{
        box-sizing: border-box;
        margin: 0 auto;
    }

    main{
        width: 100%;
    }


    nav{
        margin: 0 auto;
        width: 80%;
        background-color:white;


    }
    #serv_main{
        width: 80%;
        margin: 0 auto;
    }


    .padding-ul{
        padding-left: 0;
    }


    h1{
        text-align: center;
        padding: 2% 0;
        font-size: 200%;
        color: #F4B894;
        text-transform: uppercase;


        font-family: 'Merriweather', serif;
    }

    #burger_svg{
        display: none;
    }


    .mainNav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;

        z-index: 1;

    }





    h2{

        text-transform: uppercase;
        font-size: 120%;
        text-align: center;
        color: #658DC6;

    }

    .mainNav li{
        width: 25%;
        list-style: none;
        padding: 0 1%;
        font-family: 'Courier Prime', monospace;


    }


    .mainNav li a{
        text-decoration: none;
    }


    .mainNav li :hover{
        color: #F4B894;
    }
    .services_nav{
        padding: 1% 2%;

        height: auto;
        background-color: #658DC6;
        position: absolute;
        z-index: 2;
        display: none;
        border-radius: 20px;
    }

    .services_nav li{
        width: 100%;
        padding: 2% 0;
    }

    .services_nav li a{
        width: 100%;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }


    #health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
        cursor: pointer;


    }



    #health_hover:hover  #health_nav{
        display: block;
    }


    #wellness_hover:hover #wellness_nav{
        display: block;
    }

    #habitation_hover:hover  #habitat_nav{
        display: block;
    }

    #association_hover:hover  #association_nav{
        display: block;
    }

    #mode_hover:hover  #mode_nav{
        display: block;
    }


    #introduction_section article{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #introduction_section p{
        width: 60%;
    }

    #introduction_section .button_action p {
        width: 100%;
    }

    #img_acceuil{
        width: 30%;
    }
    #introduction_section article #img_acceuil img{
        width: 100%;
        border-radius: 10px;

    }

    #toService{
        margin: 2% 0;
    }
    header{
        height: 100%;
        background-color: #EFF3F9;
        z-index: -1;
    }

    h3{
        margin: 0 42%;
        padding-top: 2%;
        font-size: 400%;
        color: #F4B894;
    }

    section{
        padding: 2% 0;
        margin: 0 auto;
        width: 80%;
    }

    section h4{
        margin-top: 2%;
        font-size: 180%;
      /*  border-bottom: 25px #0E487B solid;*/
        border-radius: 30px;
        width: 100%;
        padding-bottom: 1%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }


    #bgc_services  h4{
        margin: 0 auto;
        font-size: 200%;
        /*border-bottom: 25px #0E487B solid;*/
        border-radius: 30px;
        width: 80%;
        padding-bottom: 1%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }
    article p{
        text-align: justify;
        font-family: 'Roboto Slab', serif;
        width: 100%;
        color: #7C858A;
        line-height: 30px;
        font-size: 100%;


    }


    #bgc_services{
        padding: 5% 0;
        width: 100%;

        background-color: rgba(101, 141, 198, 0.1);
    }


    #toLocation{
        padding: 0 1%;

    }
    #our_services_section{

        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }


    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }


    .services_card{
        margin-top: 2%;
        width: 30%;

    }

    .modify-services{

        padding:0 5%;

    }

    .modify-services, li a{
        list-style: none;
        text-decoration: none;
        color: #658DC6;
        font-size: 100%;
    }

    .modify-services, li a:hover{


        color: #F4B894;
    }

    .services_article{

        width: 80%;
        background-color: white;
        border-radius: 20px;


        padding: 3% 3%;
    }
    .services_article a{
        text-transform: uppercase;
        text-decoration: none;
    }

    .services_article ul{
        height: 8rem;
    }

    .services_article img{
        text-align: center;
        width:100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services_article h5{
        color: #658DC6;
        font-family: 'Noto Serif', serif;
        font-size: 100%;
        text-transform: uppercase;
    }

    #rentID p{
        width: 100%;
        text-align: left;
    }

    #rentID img{


    }


    .button_action{
        width: 15%;
        height: auto;
        border: 2px solid #F4B894;
        background-color: #F4B894;
        margin-left: 85%;

    }

    .button_action_card{
        margin-top: 10%;
        padding: 0.5% 0.5%;
        border-radius: 20px;
        border: 2px solid #F4B894;
        background-color: #F4B894;


    }

    .button_action_card p{
        text-align: center;
        margin: 0 auto;
        color: white;
        padding-left: 2%;
        font-size: 90%;
    }

    .button_action:hover{
        cursor: pointer;
    }

    .width-button-article{
        margin: 0 auto;
        width: 100%;
    }

    .button_action {
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin: 0 auto;
        color: white;
        border-radius: 20px;
        font-size: 120%;

    }





    .modify li{
        list-style: none;
    }

    .modify li a{
        text-decoration: none;
        color: #658DC6;
    }

    .modify-services li{
        color: #658DC6;
    }

    #location_view{
        display: flex;
        flex-direction: row;

    }

    #skyVue, img{
        width:90%;
        border-radius: 20px;

    }
    iframe{
        height: 100%;
    }


    footer{
        margin-top: 16%;
        position: relative;
        height: 4rem;
        background-color: rgba(101, 141, 198, 0.1);
    }

    footer h6{
        font-size: 100%;
        color: #F4B894;
        margin: 0 auto;
        text-align: center;
        padding: 1% 0;
        width: 50%;

    }
}


@media only screen and (max-width: 1080px) {


    body{
        box-sizing: border-box;
        margin: 0 auto;
    }

    main{
        width: 100%;
    }
    nav{

        width: 100%;
        background-color:white;


    }
    #serv_main{
        width: 80%;
        margin: 0 auto;
    }


    .padding-ul{
        padding-left: 0;
    }

    h1{
        margin: 0 auto;
        text-align: center;
        padding: 3%;
        font-size: 170%;
        color: #F4B894;
        width: 40%;
        font-family: 'Merriweather', serif;
        text-transform: uppercase;
    }


    #burger_svg{
       display: none;
    }

    .mainNav {
        display: flex;

        flex-wrap:  wrap;
        justify-content: center;

       -webkit-flex-wrap: wrap;
        -webkit-justify-content: center;

        width: 80%;
        z-index: 1;

    }




    h2{
        text-transform: uppercase;
        font-size: 100%;
        text-align: center;
        color: #658DC6;

    }


    .mainNav li{


        list-style: none;
        padding: 0 ;
        font-family: 'Courier Prime', monospace;


    }



    .mainNav li a{
        text-decoration: none;
    }


    .mainNav li :hover{
        color: #F4B894;
    }

    ul.mainNav{
        margin: 0 auto;
        padding: 0;
    }
    .services_nav{
        padding: 1% 2%;
        width: auto;
        height: auto;
        background-color: #658DC6;
        position: absolute;
        z-index: 2;
        display: none;
        border-radius: 20px;
    }

    .services_nav li{
        padding: 2% 0;
    }

    .services_nav li a{
        width: 100%;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    #health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
        cursor: pointer;


    }



    #health_hover:hover  #health_nav{
        display: block;
    }


    #wellness_hover:hover #wellness_nav{
        display: block;
    }

    #habitation_hover:hover  #habitat_nav{
        display: block;
    }

    #association_hover:hover  #association_nav{
        display: block;
    }

    #mode_hover:hover  #mode_nav{
        display: block;
    }
    #introduction_section article{
        display: flex;
        flex-direction: row;

    }


    #introduction_section{
        width: 80%;
    }
    #introduction_section article img{

        border-radius: 10px;
        width: 90%;
        padding:6% 0 0 0;
    }

    #toService{
        margin: 2% 0;
    }

    header{
        height: 100%;
        background-color: #EFF3F9;
        z-index: -1;
    }

    header ul{
        margin: 0 auto;
        padding: 0;
    }

    h3{
        margin: 0 38%;
        padding-top: 2%;
        font-size: 400%;
        color: #F4B894;
    }

    section{
        padding: 3% 0;
        margin: 0 auto;
        width: 80%;
    }

    section h4{
        font-size: 130%;
        /*border-bottom: 25px #0E487B solid;*/
        border-radius: 30px;
        width: 100%;
        padding-bottom: 1%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }


    #bgc_services  h4{
        margin: 0 auto;
        font-size: 130%;
        /*border-bottom: 25px #0E487B solid;*/
        border-radius: 30px;
        width: 80%;
        padding-bottom: 1%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }

    article p{
        line-height: 25px;
        text-align: justify;
        font-family: 'Roboto Slab', serif;
        width: 80%;
        color: #7C858A;

    }

    #bgc_services{
        width: 100%;
        background-color: rgba(101, 141, 198, 0.1);
    }

    #toLocation{
        padding: 0 1%;

    }

    .services_card{

        margin: 2% 1%;
        width: 30%;

    }

    .modify-services{
        padding:0 5%;

    }

    .modify-services, li a{
        list-style: none;
        text-decoration: none;
        color: #658DC6;
    }

    .services_article{


        background-color: white;
        border-radius: 20px;


        padding: 5% 5%;
    }
    .services_article a{
        text-transform: uppercase;
        text-decoration: none;
    }

    .services_article ul{
        height: 8rem;
    }

    .services_article img{
        text-align: center;
        width:100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services_article h5{
        color: #658DC6;
        font-family: 'Noto Serif', serif;
        font-size: 100%;
        text-transform: uppercase;

    }

    #our_services_section .button_action{

        /*margin-top:3% ;*/

    }

    .button_action{
        width: auto;

        border: 2px solid #F4B894;
        background-color: #F4B894;

    }

    .button_action:hover{
        cursor: pointer;
    }

    .button_action {
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin: 0 auto;
        color: white;
        border-radius: 20px;
        font-size: 120%;
    }

    .modify li{
        list-style: none;
    }

    .modify li a{
        text-decoration: none;
        color: #658DC6;
    }

    #our_services_section{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        -webkit-flex-wrap: wrap;
        -webkit-justify-content: center;

    }


    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }
    #skyVue, img{
        width:90%;
        border-radius: 20px;

    }
    iframe{

        height:100%
    }

    footer{
        position: relative;
        height: 4rem;
        background-color: rgba(101, 141, 198, 0.1);
    }

    footer h6{
        font-size: 100%;
        color: #F4B894;
        margin: 0 auto;
        padding: 2% 0;
        width: 50%;

    }


}




@media only screen and (max-width: 430px) {


    body{
        box-sizing: border-box;
        margin: 0 auto;
    }

    main{
        width: 100%;
    }
    #serv_main{
        width: 80%;
        margin: 0 auto;
    }


    #mobile_flex{
        display: flex;
        flex-direction: row-reverse;
    }
    .padding-ul{
        padding-left: 0;
    }

    #burger_svg{
        display: block;
        width: 20%;

    }


    nav{
        margin: 0 auto;
        width: 80%;
        background-color:white;

    }


    h1{
        margin: 0 auto;
        text-align: center;
        padding: 2%;
        font-size: 100%;
        color: #F4B894;
        width: 50%;
        font-family: 'Merriweather', serif;
        text-transform: uppercase;
    }

    ul.mainNav{

        margin: 0  auto;
        padding: 0;

    }


    .mainNav {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        -webkit-flex-wrap:wrap ;

        width: 80%;
        z-index: 1;

    }



    h2{
        font-size: 100%;

        color: #658DC6;
        text-transform: uppercase;

    }


    .mainNav li{

        width: auto;

        list-style: none;

        padding: 0 5%;
        font-family: 'Courier Prime', monospace;


    }



    .mainNav li a{
        text-decoration: none;

    }


    .mainNav li :hover{
        color: #F4B894;
    }


    .services_nav{
        padding: 1% 2%;

        width: auto;
        height: auto;
        background-color: #658DC6;
        position: absolute;
        z-index: 2;
        display: none;
        border-radius: 20px;

    }
    .services_article a{
        text-transform: uppercase;
        text-decoration: none;
    }

    .services_nav li{
        padding: 2% 0;
    }

    .services_nav li a{
        font-size: 12px;
        width: 100%;
        text-decoration: none;
        color: white;
        text-transform: uppercase;


    }

    #health_hover, #wellness_hover, #habitation_hover, #association_hover, #mode_hover{
        cursor: pointer;


    }

    .detail_section{
        margin-bottom: 40% ;
    }



    #health_hover:hover  #health_nav{
        display: block;
    }


    #wellness_hover:hover #wellness_nav{
        display: block;
    }

    #habitation_hover:hover  #habitat_nav{
        display: block;
    }

    #association_hover:hover  #association_nav{
        display: block;
    }

    #mode_hover:hover  #mode_nav{
        display: block;
    }

    #introduction_section article{
        display: flex;
        flex-direction: column-reverse;

    }

    #introduction_section article img{
       margin-bottom: 10%;
        border-radius: 10px;
        width: 80%;
    }

    #toService{
        margin: 5% 0;
    }
    header{
        width: 100%;
        height: 100%;
        background-color: #EFF3F9;
        z-index: -1;
    }

    h3{
        margin: 0 38%;
        padding-top: 2%;
        font-size: 100%;
        color: #F4B894;
    }

    section{
        padding: 3% 0;
        margin: 0 auto;
        width: 80%;

    }

    section h4{
        font-size: 90%;
        /*
        border-bottom: 25px #0E487B solid;
        border-radius: 30px;*/
        width: 100%;
        padding-bottom: 4%;
        color: #658DC6;
        font-family: 'Noto Serif', serif;
    }

    #bgc_services h4{
       font-size: 90%;
    }

    article p{

        margin: 0 auto;
        font-family: 'Roboto Slab', serif;
        width: 80%;
        color: #7C858A;

    }

    #img_acceuil{
        margin: 0 auto;
        width: 90%;
    }
    #introduction_section p{
        width: 90%;
    }

    #bgc_services{
        width: 100%;
        background-color: rgba(101, 141, 198, 0.1);
    }

    .services_card{
        margin-top: 4%;

        width: 100%;
        height: 25%;
    }


    .services_article{

        width: 90%;
        background-color: white;
        border-radius: 20px;


        padding: 5% 5%;
    }

    .services_article a{
        text-transform: uppercase;
        text-decoration: none;
    }

    .services_article ul{
        height: 8rem;
    }

    .services_article img{
        text-align: center;
        width:100%;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services_article h5{
        color: #658DC6;
        font-family: 'Noto Serif', serif;
        font-size: 100%;
        text-transform: uppercase;

    }

    #our_services_section{

        width: 100%;
        overflow: hidden;
    }

    #our_services_section .button_action{

        margin-top:3% ;

    }

    .width-button-article{
        padding: 5%;
    width: 90%;
    }

    .button_action{
        margin-top: 10%;
        width: auto;
        height: auto;
        border: 2px solid #F4B894;
        background-color: #F4B894;
        margin-left:50% ;
    }

    #toLocation{
        padding: 0 1%;

    }

    .button_action:hover{
        cursor: pointer;
    }

    .button_action {
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin: 0 auto;
        color: white;
        border-radius: 20px;
        font-size: 120%;
    }

    .modify li{
        list-style: none;
    }

    .modify li a{
        text-decoration: none;
        color: #658DC6;
    }

    #our_services_section{

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }


    #our_services_section ul li{

        font-family: 'Noto Serif', serif;

    }

    #location_view{
        display: flex;
        flex-direction: column;
    }
    #skyVue img{
        width: 100%;
        text-align: center;
        padding: 5%;
        border-radius: 20px;
    }

    #skyVue, img{
        width:90%;
        border-radius: 20px;

    }
    iframe{
        width: 100%;
        height: 100%;
    }

    footer{

        height: 4rem;
        background-color: rgba(101, 141, 198, 0.1);
    }

    footer h6{
        font-size: 100%;
        color: #F4B894;
        margin: 0 auto;
        padding: 5% 0;
        width: 50%;

    }


}


